@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }

  /* HEADER */
  /* #region HEADER */
  .header-container {
    margin: 0 auto;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }

  .contact-item > a {
    font-size: var(--description-size);
    line-height: var(--description-height);
    letter-spacing: var(--ls-small);
  }

  .address {
    margin-left: auto;
  }
  /* #endregion HEADER */

  /* HERO */
  /* #region HERO */
  .hero {
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/adaptive/desktop/hero/hero@1x-desk.webp");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/adaptive/desktop/hero/hero@2x-desk.webp");
    }
  }

  .hero-container {
    gap: 48px;
  }
  /* #endregion HERO */

  /* FEATURES */
  /* #region FEATURES */
  .feature-section {
    padding: 120px 156px;
  }

  .features-list {
    flex-direction: row;
    width: 100%;
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-item > .section-subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  .icon-container {
    display: flex;
  }
  /* #endregion FEATURES */

  /* SOLUTIONS */
  /* #region SOLUTIONS */

  .solution-section {
    padding-bottom: 120px;
  }

  .solution-container {
    display: flex;
  }
  /* #endregion SOLUTIONS */

  /* TEAM */
  /* #region TEAM */
  .team-container {
    padding: 0;

    /* ?Чому при встановленні width, замість max-width контейнер ламається*/
    /* max-width: 100%; */
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    /* width: 100%; */
    gap: 24px;
  }

  .teammate {
    width: calc((100% - 24px * 3) / 4);
  }
  /* #endregion TEAM */

  /* CUSTOMERS */
  /* #region CUSTOMERS */
  .customers-section {
    padding: 0;
  }

  .customers-container {
    padding: 120px 0;
  }
  .customer-list {
    gap: 24px;
    max-width: 1128px;
  }

  .customer-item {
    width: calc((100% - 24px * 5) / 6);
  }
  /* #endregion CUSTOMERS */

  /* FOOTER */
  /* #region FOOTER */
  .footer {
    /* width: 100%; */
    padding: 100px 0;
  }

  .footer-container {
    box-sizing: content-box;
    width: 264px;
    margin-right: 120px;
    padding: 0;
  }
  .footer-wrapper {
    max-width: 1158px;
    flex-wrap: nowrap;
    padding: 0 15px;
    gap: 0;
  }

  .footer-subscribe {
    width: 100%;
    margin-right: auto;
  }

  .footer-social {
    margin-right: 80px;
  }
  /* #endregion FOOTER */
}
