@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* HEADER */
  /* #region HEADER */

  .header-container {
    max-width: 100%;
    height: 72px;
    padding: 0 16px;
  }

  .header-button {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
  }

  .address {
    display: block;
    margin-left: auto;
  }

  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }

  .contact-item > a {
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
  /* #endregion HEADER */

  /* HERO */
  /* #region HERO */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/adaptive/tablet/hero/hero@1x-tab.webp");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/adaptive/tablet/hero/hero@2x-tab.webp");
    }
  }

  .hero-container {
    /* width: 496px; */
    padding: 0;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-transform: none;
  }
  /* #endregion HERO */

  /* FEATURES */
  /* #region FEATURES */
  .feature-section {
    padding: 96px 16px 96px 21px;
  }

  .features-container {
    padding: 0;
    max-width: 736px;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
  }

  .feature-item {
    /* outline: 1px solid tomato; */
    width: calc((100% - 24px) / 2);
  }

  .feature-item > .section-subtitle {
    text-align: left;
  }
  /* #endregion FEATURES */

  /* TEAM */
  /* #region TEAM */
  .team-container {
    padding: 0 108px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .teammate {
    width: calc((100% - 24px) / 2);
  }

  /* #endregion TEAM */

  /* CUSTOMERS */
  /* #region CUSTOMERS */
  .customer-list {
    gap: 72px 24px;
  }

  .customer-item {
    width: calc((100% - 24px * 2) / 3);
  }
  /* #endregion CUSTOMERS */

  /* FOOTER */
  /* #region FOOTER */

  .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 108px;
  }

  .footer-container {
    width: 264px;
    margin: 0;
  }

  .footer-link {
    text-align: left;
  }

  .footer-social {
    align-items: flex-start;
  }

  .footer-subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-subscribe-btn {
    margin: 0;
  }

  .subscribe-label {
    margin: 0;
    width: 264px;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
  }

  .footer-subscribe-mail {
    width: 264px;
  }

  /* #endregion FOOTER */
}
